In [1]:
import pandas as pd
from pathlib import Path

In [2]:
input_file = Path.cwd()/'course_income.csv'

In [3]:
df = pd.read_csv(input_file)

In [4]:
df

,Course,Code,First Session,Day,Start,Sessions,Tot-Stus,Concession-Stus,CM Fee,Operating Fee,Concession Fee,Materials,Total Income
0,Book Club,CA1,27-Aug-2021 9:30am,Fri,9:30am,2,12,4,$9.80,$0.00,$0.00,NaN,$240.00
1,Botanical Ink Drawing - Beginners,AC62,27-Jul-2021 12:45pm,Tue,12:45pm,8,9,0,$32.40,$800.00,$0.00,NaN,"$1,543.75"
2,Botanical Ink Drawing - Ongoing,AC56,26-Jul-2021 9:30am,Mon,9:30am,8,5,0,$18.00,$800.00,$0.00,NaN,$950.00
3,Craft and Muffin Club,CA18,29-Jul-2021 1:00pm,Thu,1:00pm,8,7,1,$25.20,$0.00,$0.00,NaN,$350.00
4,Crochet Advanced,AC6,28-Jul-2021 1:30pm,Wed,1:30pm,8,4,0,$14.40,$240.00,$0.00,NaN,$380.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Your Favourite Photos in One Place, One Tap Aw...",CT11,9-Sep-2021 1:00pm,Thu,1:00pm,1,4,1,$1.80,$0.00,$0.00,NaN,$0.00
83,"Your Favourite Photos in One Place, One Tap Aw...",CT11,16-Sep-2021 1:00pm,Thu,1:00pm,1,3,0,$1.35,$0.00,$0.00,NaN,$0.00
84,"Your Favourite Photos in One Place, One Tap Aw...",CT11,23-Sep-2021 1:00pm,Thu,1:00pm,1,2,0,$0.90,$0.00,$0.00,NaN,$0.00
85,Your Vaccination Certificate on Your Phone,CT12,8-Sep-2021 1:00pm,Wed,1:00pm,1,6,0,$2.70,$0.00,$0.00,NaN,$0.00
86,NaN,NaN,NaN,NaN,439,610,75,"$1,412.75",27329,$0.00,$0.00,"$51,597.71",NaN

In [5]:
df.columns

Index(['Course', 'Code', 'First Session', 'Day', 'Start', 'Sessions',
       'Tot-Stus', 'Concession-Stus', 'CM Fee', 'Operating Fee',
       'Concession Fee', 'Materials', 'Total Income'],
      dtype='object')

In [6]:
df.drop(['First Session', 'Day', 'Start', 'Sessions',
       'Tot-Stus', 'Concession-Stus', 'CM Fee', 'Operating Fee',
       'Concession Fee', 'Materials'], axis=1, inplace=True)

In [7]:
df

                                               Course  Code Total Income
0                                          Book Club    CA1      $240.00
1                   Botanical Ink Drawing - Beginners  AC62    $1,543.75
2                     Botanical Ink Drawing - Ongoing  AC56      $950.00
3                               Craft and Muffin Club  CA18      $350.00
4                                    Crochet Advanced   AC6      $380.00
..                                                ...   ...          ...
82  Your Favourite Photos in One Place, One Tap Aw...  CT11        $0.00
83  Your Favourite Photos in One Place, One Tap Aw...  CT11        $0.00
84  Your Favourite Photos in One Place, One Tap Aw...  CT11        $0.00
85         Your Vaccination Certificate on Your Phone  CT12        $0.00
86                                                NaN   NaN          NaN

[87 rows x 3 columns]

In [8]:
df = df.sort_values('Code')

In [9]:
df

                                               Course  Code Total Income
73                 Watercolours Beginners and Ongoing  AC13    $1,472.50
5                             Crochet Beanie Workshop  AC21      $360.00
34                        Ikebana Japanese Floral Art  AC26      $720.00
33            Ikebana Japanese Floral Art - Beginners  AC27      $240.00
6                                   Crochet Beginners   AC3      $645.00
..                                                ...   ...          ...
32             Highlights of French History - Part 3    T30    $1,090.00
17                                     Free The Bears   T31       $30.00
70   The Cockney Artist's View of 18th Century London   T35      $280.00
16  Entente Cordiale - An Anglo French History of ...   T36      $280.00
86                                                NaN   NaN          NaN

[87 rows x 3 columns]

In [10]:
df.to_csv('hurrah.csv',index=False)

In [11]:
pd.set_option('display.max_rows', 90)

In [12]:
df

                                               Course  Code Total Income
73                 Watercolours Beginners and Ongoing  AC13    $1,472.50
5                             Crochet Beanie Workshop  AC21      $360.00
34                        Ikebana Japanese Floral Art  AC26      $720.00
33            Ikebana Japanese Floral Art - Beginners  AC27      $240.00
6                                   Crochet Beginners   AC3      $645.00
55                             Ocean Moods in Pastels  AC33    $1,330.00
58                              Shorelines in Pastels  AC34    $1,472.50
11                              Drawing - Portraiture  AC35    $1,020.00
9                                Crochet Intermediate   AC4      $855.00
8                                Crochet Intermediate   AC4      $760.00
7                              Crochet Beginners Plus   AC5      $585.00
2                     Botanical Ink Drawing - Ongoing  AC56      $950.00
4                                    Crochet Advanced   AC6      $380.00
38  Ink and Watercolour Art Series : Flowering Nat...  AC60      $975.00
1                   Botanical Ink Drawing - Beginners  AC62    $1,543.75
56                           Oriental Brush Painting   AC67      $480.00
31                             Hand-Sewn Applique Bag  AC68      $180.00
12                            Drawing for Non-Drawers   AC7    $1,360.00
13                            Drawing for Non-Drawers   AC7    $1,700.00
0                                          Book Club    CA1      $240.00
51                   Mahjong - Intermediate - Western  CA12      $460.00
53                  Mahjong Wednesday Club - Western   CA15    $1,260.00
3                               Craft and Muffin Club  CA18      $350.00
10                             Cryptic Crossword Club   CA2      $426.25
49                      Mahjong - Beginners - Chinese  CA22    $1,380.00
50                   Mahjong - Intermediate - Chinese  CA23      $750.00
41                       International Film - Truman   CA26        $0.00
39                  International and Current Affairs   CA5    $1,108.33
40                  International and Current Affairs   CA5        $0.00
52                      Mahjong Friday Club - Chinese   CA9      $562.50
67  Storing &amp, Organising Your Documents on 'Th...  CT10        $0.00
68  Storing &amp, Organising Your Documents on 'Th...  CT10        $0.00
69  Storing &amp, Organising Your Documents on 'Th...  CT10        $0.00
83  Your Favourite Photos in One Place, One Tap Aw...  CT11        $0.00
82  Your Favourite Photos in One Place, One Tap Aw...  CT11        $0.00
81  Your Favourite Photos in One Place, One Tap Aw...  CT11        $0.00
84  Your Favourite Photos in One Place, One Tap Aw...  CT11        $0.00
85         Your Vaccination Certificate on Your Phone  CT12        $0.00
79  Your Favourite Photos in One Place, One Tap Aw...   CT7        $0.00
80  Your Favourite Photos in One Place, One Tap Aw...   CT7        $0.00
76  Your Favourite Photos in One Place, One Tap Aw...   CT7        $0.00
78  Your Favourite Photos in One Place, One Tap Aw...   CT7        $0.00
75  Your Favourite Photos in One Place, One Tap Aw...   CT7        $0.00
77  Your Favourite Photos in One Place, One Tap Aw...   CT7        $0.00
29      Getting Rid of Your Clutter on Gumtree.com.au   CT8        $0.00
30      Getting Rid of Your Clutter on Gumtree.com.au   CT8        $0.00
28      Getting Rid of Your Clutter on Gumtree.com.au   CT8        $0.00
27      Getting Rid of Your Clutter on Gumtree.com.au   CT8        $0.00
14        eBooks: 10,000 Library Books in Your Pocket   CT9        $0.00
15        eBooks: 10,000 Library Books in Your Pocket   CT9        $0.00
74                                       Yoga Tuesday  HW15      $525.00
48                                        Light Zumba  HW16      $115.00
57                                           Pilates    HW5      $840.00
22                French B1 Intermediate Conversation    L1    $1,120.00
35                               Indonesian Beginners   L11      $600.00
36                            Indonesian Conversation   L12      $375.00
37                            Indonesian Intermediate   L13      $200.00
47                               Italian Conversation   L17      $800.00
45                    Italian B2 Intermediate Ongoing   L18      $960.00
20                        French A2 Beginners Ongoing    L2      $960.00
62                       Spanish A2 Beginners Ongoing   L20      $480.00
63                       Spanish A2 Beginners Ongoing   L20      $960.00
64                 Spanish B1 Intermediate - Thursday   L24      $526.88
65                 Spanish B1 Intermediate - Thursday   L24    $1,280.00
46                                Italian C1 Advanced   L26      $960.00
44           Italian B1 Intermediate Ongoing - Monday   L27      $880.00
59                               Spanish A1 Beginners   L28      $600.00
60                               Spanish A1 Beginners   L28    $1,280.00
42                       Italian A2 Beginners Ongoing   L29    $1,120.00
21                             French B1 Intermediate    L3    $1,120.00
66                            Spanish B1 Intermediate   L32    $1,120.00
19                        French A1 Beginners Ongoing   L37    $1,520.00
26                                     German for Fun   L39      $960.00
18                   French A1 Beginners Conversation    L4      $800.00
61                       Spanish A1 Beginners Ongoing   L40      $640.00
54                                   Mandarin for Fun   L43      $640.00
24                French B2 Intermediate Conversation    L5    $1,280.00
23                            French B2 Intermediate     L6      $960.00
25                     French B2 Intermediate Ongoing    L7    $1,280.00
43                            Italian B1 Intermediate    L8    $1,120.00
72       Walking the Camino to Santiago de Compostela   T23      $330.00
71              The Natural Way to Control Menopause    T29        $0.00
32             Highlights of French History - Part 3    T30    $1,090.00
17                                     Free The Bears   T31       $30.00
70   The Cockney Artist's View of 18th Century London   T35      $280.00
16  Entente Cordiale - An Anglo French History of ...   T36      $280.00
86                                                NaN   NaN          NaN