In [1]:
import pandas as pd
from pathlib import Path
input_file = Path.cwd()/'receipts.csv'
df = pd.read_csv(input_file)

## Remove unwanted columns, add blank column and reorder

In [2]:
df.drop(['Given', 'Surname','Income','GST',], axis=1, inplace=True)

In [3]:
df["Cumulative"] = ""

In [4]:
df=df[['Number', 'Paid by', 'Date', 'Paid','Cumulative','Type', 'Payment_Type','Issued_By', 'Merchant Ref', 'Notes']]

In [5]:
df.head()

,Number,Paid by,Date,Paid,Cumulative,Type,Payment_Type,Issued_By,Merchant Ref,Notes
0,10426,Brett Robson,2022-4-4 9:57:26,160.0,,Income,credit card,Rika Wylde,CM040249661_Robson,"Enrolment into ""French For Travellers(L3)"", st..."
1,10427,Mirka Eriyagama,2022-4-4 10:31:06,40.0,,Income,credit card,Rika Wylde,CM063260704_Eriyagama,"Ticket Purchase for ""Birds of the South-West(T..."
2,10428,Jayne Dopp,2022-4-4 12:05:55,40.0,,Income,credit card,Connie Yan,CM168719519_Dopp,Membership Payment for (4-Apr-2022 to 4-Apr-20...
3,10428,Jayne Dopp,2022-4-4 12:05:55,100.0,,Income,credit card,Connie Yan,CM168719519_Dopp,"Enrolment into ""Anglo-French History Continued..."
4,10429,Nicki McGrath,2022-4-4 12:26:10,15.0,,Income,credit card,Didi Mudigdo,CM709383327_McGrath,Membership Payment for (2-May-2022 to 26-Jun-2...

Add the column `Allocate` to contain MYOB allocation information

In [6]:
df['Allocate']=""

Populate Allocate with the course code (for now)

In [7]:
df['Allocate'] = df['Notes'].str.extract(r'\((.*?)\)', expand=False).str.strip()

Check results

In [8]:
df.head()

,Number,Paid by,Date,Paid,Cumulative,Type,Payment_Type,Issued_By,Merchant Ref,Notes,Allocate
0,10426,Brett Robson,2022-4-4 9:57:26,160.0,,Income,credit card,Rika Wylde,CM040249661_Robson,"Enrolment into ""French For Travellers(L3)"", st...",L3
1,10427,Mirka Eriyagama,2022-4-4 10:31:06,40.0,,Income,credit card,Rika Wylde,CM063260704_Eriyagama,"Ticket Purchase for ""Birds of the South-West(T...",T9
2,10428,Jayne Dopp,2022-4-4 12:05:55,40.0,,Income,credit card,Connie Yan,CM168719519_Dopp,Membership Payment for (4-Apr-2022 to 4-Apr-20...,4-Apr-2022 to 4-Apr-2023
3,10428,Jayne Dopp,2022-4-4 12:05:55,100.0,,Income,credit card,Connie Yan,CM168719519_Dopp,"Enrolment into ""Anglo-French History Continued...",T30
4,10429,Nicki McGrath,2022-4-4 12:26:10,15.0,,Income,credit card,Didi Mudigdo,CM709383327_McGrath,Membership Payment for (2-May-2022 to 26-Jun-2...,2-May-2022 to 26-Jun-2022

Now strip the digits

In [9]:
df['Allocate'] = df['Allocate'].replace('(\d+)','',regex=True)

In [10]:
df

,Number,Paid by,Date,Paid,Cumulative,Type,Payment_Type,Issued_By,Merchant Ref,Notes,Allocate
0,10426,Brett Robson,2022-4-4 9:57:26,160.0,,Income,credit card,Rika Wylde,CM040249661_Robson,"Enrolment into ""French For Travellers(L3)"", st...",L
1,10427,Mirka Eriyagama,2022-4-4 10:31:06,40.0,,Income,credit card,Rika Wylde,CM063260704_Eriyagama,"Ticket Purchase for ""Birds of the South-West(T...",T
2,10428,Jayne Dopp,2022-4-4 12:05:55,40.0,,Income,credit card,Connie Yan,CM168719519_Dopp,Membership Payment for (4-Apr-2022 to 4-Apr-20...,-Apr- to -Apr-
3,10428,Jayne Dopp,2022-4-4 12:05:55,100.0,,Income,credit card,Connie Yan,CM168719519_Dopp,"Enrolment into ""Anglo-French History Continued...",T
4,10429,Nicki McGrath,2022-4-4 12:26:10,15.0,,Income,credit card,Didi Mudigdo,CM709383327_McGrath,Membership Payment for (2-May-2022 to 26-Jun-2...,-May- to -Jun-
5,10429,Nicki McGrath,2022-4-4 12:26:10,55.0,,Income,credit card,Didi Mudigdo,CM709383327_McGrath,"Enrolment into ""Cryptic Crosswords Wednesday R...",CA
6,10430,Mavis Drake,2022-4-4 12:29:38,15.0,,Income,credit card,Didi Mudigdo,CM717702309_Drake,Membership Payment for (2-May-2022 to 26-Jun-2...,-May- to -Jun-
7,10430,Mavis Drake,2022-4-4 12:29:38,55.0,,Income,credit card,Didi Mudigdo,CM717702309_Drake,"Enrolment into ""Cryptic Crosswords Wednesday R...",CA
8,10431,Anne Zevis,2022-4-4 12:47:34,10.0,,Income,cash,Lyn O'Meara,NaN,"Ticket Purchase for ""Spanish Film - La Boda de...",AB
9,10432,Mark Teakle,2022-4-4 13:25:58,50.0,,Income,credit card,Mark Teakle,CM985842040_Teakle,"Enrolment into ""Watercolours Plein Air with Ve...",AC
10,10433,Denise Bird,2022-4-4 16:01:16,25.0,,Income,credit card,Denise Bird,CM675683769_Bird,"Enrolment into ""Craft and Crackers Club (CA18)...",CA
11,10433,Denise Bird,2022-4-4 16:01:16,90.0,,Income,credit card,Denise Bird,CM675683769_Bird,"Enrolment into ""Mahjong Saturday Club - Chines...",CA
12,10434,Sandra Speers,2022-4-4 16:09:51,10.0,,Income,credit card,Sandra Speers,CM648714902_Speers,"1 ticket for ""Spanish Film - La Boda de Rosa ...",AB
13,10435,Sandra Speers,2022-4-4 16:14:18,10.0,,Income,credit card,Sandra Speers,CM329454475_Speers,"1 ticket for ""Floating on the Canals of Europ...",T
14,10436,Nadine Simmonite,2022-4-4 17:54:04,50.0,,Income,credit card,Nadine Simmonite,CM034712997_Simmonite,"Enrolment into ""Watercolours Plein Air with Ve...",AC
15,10437,Cath Sweetman,2022-4-4 20:35:07,190.0,,Income,credit card,Cath Sweetman,CM563430831_Sweetman,"1 ticket for ""Botanical Native Flower Waterco...",AB
16,10437,Cath Sweetman,2022-4-4 20:35:07,190.0,,Income,credit card,Cath Sweetman,CM563430831_Sweetman,"Enrolment into ""Botanical Ink Ongoing (AC63)"",...",AC
17,10438,Stephanie Tassell,2022-4-5 7:31:44,160.0,,Income,credit card,Stephanie Tassell,CM936248626_Tassell,"Enrolment into ""Spanish A1 Beginners Ongoing (...",L
18,10439,Bronwen Channon,2022-4-5 7:43:24,50.0,,Income,credit card,Bronwen Channon,CM506515749_Channon,"Enrolment into ""Watercolours Plein Air with Ve...",AC
19,10440,Barbara Edwards,2022-4-5 7:55:06,0.0,,Income,credit card,Barbara Edwards,NaN,"Enrolment into ""The Magnificent World of Podca...",CT
20,10441,Barbara Scott,2022-4-5 9:07:33,70.0,,Income,credit card,Marie Ward,CM209024037_Scott,"Ticket Purchase for ""Light Samba(AB3)"", starti...",AB

## Filter out non-credit card transactions
Now for the Boolean indexing. The rows we want to remove are 'Deposit'/'Saved' (from the Type column) and 'cash, 'EFT'/'cash' (from the Payment_Type) column. Constructing the Boolean index:

In [11]:
cash = df['Payment_Type']=='cash'
cheque = df['Payment_Type']=='cheque'
saved = df['Type']=='Saved'
eft = df['Payment_Type']=='EFT'
deposit = df['Type']=='Deposit'

And now apply and export:

In [12]:
df[~(cash|cheque|eft|saved|deposit)].to_csv('hurrah.csv',index=False)

(Just changing one little thing to test Git-Cola)