In [1]:
import pandas as pd
from pathlib import Path
input_file = Path.cwd()/'receipts.csv'
df = pd.read_csv(input_file)

## Remove unwanted columns, add blank column and reorder

In [2]:
df.drop(['Given', 'Surname','Income','GST',], axis=1, inplace=True)

In [3]:
df["Cumulative"] = ""

In [4]:
df=df[['Number', 'Paid by', 'Date', 'Paid','Cumulative','Type', 'Payment_Type','Issued_By', 'Merchant Ref', 'Notes']]

In [5]:
df.head()

,Number,Paid by,Date,Paid,Cumulative,Type,Payment_Type,Issued_By,Merchant Ref,Notes
0,7959,Carole Carson,2021-4-29 11:30:17,50.0,,Income,credit card,Carole Carson,CM643280794_Carson,"Enrolment into Craft and Coffee Club, starting..."
1,7959,Carole Carson,2021-4-29 11:30:17,90.0,,Income,credit card,Carole Carson,CM643280794_Carson,Enrolment into SPLC Day Trippers - Toodyay and...
2,7960,Meike Schoolland,2021-4-29 11:48:49,15.0,,Income,credit card,Danielle Desvaux,CM089114821_Schoolland,Membership Payment for (1-May-2021 to 11-Jul-2...
3,7960,Meike Schoolland,2021-4-29 11:48:49,150.0,,Income,credit card,Danielle Desvaux,CM089114821_Schoolland,Enrolment into French A2 Beginners Ongoing(L3)...
4,7961,Linda McNamara,2021-4-29 12:09:15,10.0,,Saved,credit account,Didi Mudigdo,NaN,Enrolment Fee adjustment saved to credit accou...

## Filter out non-credit card transactions
Now for the Boolean indexing. The rows we want to remove are 'Deposit'/'Saved' (from the Type column) and 'cash, 'EFT'/'cash' (from the Payment_Type) column. Constructing the Boolean index:

In [6]:
cash = df['Payment_Type']=='cash'
saved = df['Type']=='Saved'
eft = df['Payment_Type']=='EFT'
deposit = df['Type']=='Deposit'

And now apply and export:

In [7]:
df[~(cash|eft|saved|deposit)].to_csv('hurrah.csv',index=False)