In [1]:
import pandas as pd
from pathlib import Path

In [2]:
input_file = Path.cwd()/'course_income21.04.2021.csv'

In [3]:
df = pd.read_csv(input_file)

In [4]:
df

,Course,Code,First Session,Day,Start,Sessions,Tot-Stus,Concession-Stus,CM Fee,Operating Fee,Concession Fee,Materials,Total Income
0,Acrylics For Beginners Ongoing,AC2,9-Feb-2021 9:30am,Tue,9:30am,8,4,0,$14.40,$720.00,$0.00,NaN,$593.75
1,Autumn Afternoon Delight,OT2,26-Mar-2021 10:00am,Fri,10:00am,1,12,3,$4.90,$840.00,$0.00,NaN,$990.00
2,Birds of South Perth,T9,18-Feb-2021 1:00pm,Thu,1:00pm,1,14,0,$5.30,$50.00,$0.00,NaN,$205.00
3,Bonsai Bonanza for Beginners,GD3,9-Feb-2021 7:00pm,Tue,7:00pm,4,4,0,$7.20,$240.00,$0.00,NaN,$400.00
4,Book Club,CA1,26-Feb-2021 9:30am,Fri,9:30am,2,12,4,$9.80,$0.00,$0.00,NaN,$240.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Watercolours Beginners and Ongoing,AC13,8-Feb-2021 12:00pm,Mon,12:00pm,8,9,1,$32.40,$560.00,$0.00,NaN,"$1,275.00"
85,Writing Your Memoirs Workshops,T22,12-Apr-2021 10:00am,Mon,10:00am,1,8,0,$3.60,$100.00,$0.00,NaN,$480.00
86,Writing Your Memoirs Workshops,T22,19-Apr-2021 10:00am,Mon,10:00am,1,10,0,$4.50,$100.00,$0.00,NaN,$600.00
87,Yoga for Everybody,HW14,15-Feb-2021 5:00pm,Mon,5:00pm,8,6,0,$21.60,$320.00,$0.00,NaN,$660.00
88,NaN,NaN,NaN,NaN,477,647,88,"$1,472.25",32146.5,$0.00,$0.00,"$60,509.08",NaN

In [5]:
df.columns

Index(['Course', 'Code', 'First Session', 'Day', 'Start', 'Sessions',
       'Tot-Stus', 'Concession-Stus', 'CM Fee', 'Operating Fee',
       'Concession Fee', 'Materials', 'Total Income'],
      dtype='object')

In [6]:
df.drop(['First Session', 'Day', 'Start', 'Sessions',
       'Tot-Stus', 'Concession-Stus', 'CM Fee', 'Operating Fee',
       'Concession Fee', 'Materials'], axis=1, inplace=True)

In [7]:
df

                                Course  Code Total Income
0       Acrylics For Beginners Ongoing   AC2      $593.75
1            Autumn Afternoon Delight    OT2      $990.00
2                 Birds of South Perth    T9      $205.00
3         Bonsai Bonanza for Beginners   GD3      $400.00
4                           Book Club    CA1      $240.00
..                                 ...   ...          ...
84  Watercolours Beginners and Ongoing  AC13    $1,275.00
85      Writing Your Memoirs Workshops   T22      $480.00
86      Writing Your Memoirs Workshops   T22      $600.00
87                  Yoga for Everybody  HW14      $660.00
88                                 NaN   NaN          NaN

[89 rows x 3 columns]

In [8]:
df = df.sort_values('Code')

In [9]:
df

                                Course  Code Total Income
84  Watercolours Beginners and Ongoing  AC13    $1,275.00
17  Crochet String Market Bag Workshop  AC15      $210.00
0       Acrylics For Beginners Ongoing   AC2      $593.75
36         Ikebana Japanese Floral Art  AC26      $300.00
35         Ikebana Japanese Floral Art  AC26      $200.00
..                                 ...   ...          ...
49                Lunch with May Gibbs   T18      $100.00
86      Writing Your Memoirs Workshops   T22      $600.00
85      Writing Your Memoirs Workshops   T22      $480.00
2                 Birds of South Perth    T9      $205.00
88                                 NaN   NaN          NaN

[89 rows x 3 columns]

In [10]:
df.to_csv('hurrah.csv',index=False)

In [12]:
pd.set_option('display.max_rows', 90)

In [13]:
df

                                               Course  Code Total Income
84                 Watercolours Beginners and Ongoing  AC13    $1,275.00
17                 Crochet String Market Bag Workshop  AC15      $210.00
0                      Acrylics For Beginners Ongoing   AC2      $593.75
36                        Ikebana Japanese Floral Art  AC26      $300.00
35                        Ikebana Japanese Floral Art  AC26      $200.00
14                                  Crochet Beginners   AC3      $450.00
59                              Ocean Moods in Pastel  AC33    $1,020.00
60                              Ocean Moods in Pastel  AC33    $1,020.00
61                             Ocean Moods in Pastels  AC33        $0.00
67                              Shorelines in Pastels  AC34        $0.00
66        Shorelines in Pastel -  Morning and Evening  AC34    $1,530.00
20                              Drawing - Portraiture  AC35    $1,870.00
15                               Crochet Intermediate   AC4      $472.50
16                               Crochet Intermediate   AC4      $472.50
8                               Botanical Ink Drawing  AC56        $0.00
7                               Botanical Ink Drawing  AC56    $1,110.00
5   Botanical Hand-Painted Gift Cards and Box Set ...  AC57      $640.00
6              Botanical Ink Drawing One Day Workshop  AC58    $1,885.00
13                                   Crochet Advanced   AC6      $450.00
83            Watercolour Botanicals One Day Workshop  AC60    $1,220.00
22                            Drawing for Non-Drawers   AC7    $1,540.00
21                            Drawing for Non-Drawers   AC7    $1,530.00
4                                          Book Club    CA1      $240.00
52                       Mahjong Club Friday- Western  CA10        $0.00
50                Mahjong - Chinese - Holiday Special  CA14      $252.00
53                   Mahjong Club Wednesday - Western  CA15    $1,260.00
12                              Craft and Coffee Club  CA18      $100.00
18                             Cryptic Crossword Club   CA2      $600.00
54                    Mahjong For Beginners - Chinese  CA22    $2,145.00
23             Foreign Film Club - La Grande Bellezza  CA26      $120.00
24                                  Foreign Film Club  CA26      $145.00
55          Mahjong Intermediate - Western (Thursday)  CA27      $720.00
40                  International and Current Affairs   CA5        $0.00
51                      Mahjong Club Friday - Chinese   CA9      $480.00
81                                Taming Your iGadget   CT2      $400.00
82                                Taming Your iGadget   CT2      $540.00
62                               Orchid Health Check.   GD1       $75.00
3                        Bonsai Bonanza for Beginners   GD3      $400.00
56                               Meditation with Andi  HW10      $880.00
87                                 Yoga for Everybody  HW14      $660.00
9            Colour Therapy Workshop: Part 1 (Friday)  HW15      $900.00
10           Colour Therapy Workshop: Part 1 (Friday)  HW15        $0.00
11         Colour Therapy Workshop: Part 1 (Saturday)  HW16      $450.00
69                          Sleep Yoga and Meditation  HW17      $180.00
68                          Sleep Yoga and Meditation  HW17      $180.00
80                   Tai Chi For Health and Stability   HW4      $632.50
79                   Tai Chi For Health and Stability   HW4      $550.00
63                                            Pilates   HW5      $790.00
64                                            Pilates   HW5      $595.00
29                            French B2 Intermediate     L1    $1,200.00
37                     Indonesian Beginners (Level 1)   L11      $540.00
38                  Indonesian Conversation (Level 3)   L12      $427.50
39                  Indonesian Intermediate (Level 2)   L13      $360.00
42                               Italian A1 Beginners   L15    $1,485.00
48                    Italian Conversation (Thursday)   L17      $850.00
46                    Italian B2 Intermediate Ongoing   L18    $1,050.00
25                        French A1 Beginners Ongoing    L2    $1,050.00
74                       Spanish A2 Beginners Ongoing   L20       $88.89
73                       Spanish A2 Beginners Ongoing   L20      $675.00
77                            Spanish B1 Intermediate   L24      $945.00
76                 Spanish B1 Intermediate - Thursday   L24       $67.22
41                       Italian A1 Beginners Ongoing   L25      $750.00
47                                Italian C1 Advanced   L26    $1,050.00
45                            Italian B1 Intermediate   L27      $900.00
72                               Spanish A1 Beginners   L28      $142.22
71                               Spanish A1 Beginners   L28    $1,215.00
43                       Italian A2 Beginners Ongoing   L29      $900.00
27                        French A2 Beginners Ongoing    L3    $1,050.00
78                            Spanish B2 Intermediate   L30      $405.00
75                           Spanish B1  Intermediate   L32      $405.00
26                                French A1 Beginners   L37    $1,162.50
32                                German A1 Beginners   L38      $600.00
33                             German B1 Intermediate   L39      $900.00
70                       Spanish A1 Beginners Ongoing   L40      $472.50
30                French B2 Intermediate Conversation    L5    $1,350.00
28                             French B1 Intermediate    L6    $1,500.00
31                     French B2 Intermediate Ongoing    L7    $1,050.00
44                           Italian B1 Intermediate     L8    $1,200.00
1                           Autumn Afternoon Delight    OT2      $990.00
34           Highlights of French History : 1300-1919   T10    $1,260.00
58                               Noongar Tasty Yarns    T11      $540.00
57                      Noongar Cultural Conversation   T11      $540.00
65                       Retirement Planning Workshop   T16      $220.00
19  Death on the Nile: Mummies, Myth and Magic in ...   T17      $700.00
49                               Lunch with May Gibbs   T18      $100.00
86                     Writing Your Memoirs Workshops   T22      $600.00
85                     Writing Your Memoirs Workshops   T22      $480.00
2                                Birds of South Perth    T9      $205.00
88                                                NaN   NaN          NaN