In [1]:
import pandas as pd
from pathlib import Path
input_file = Path.cwd()/'people.csv'
df = pd.read_csv(input_file)

In [2]:
df['Email'] = df.Email.map(str) + ";"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pers_num  34 non-null     int64
 1   Mem_Num   0 non-null      float64
 2   Title     18 non-null     object
 3   Given     34 non-null     object
 4   Surname   34 non-null     object
 5   Street    24 non-null     object
 6   Suburb    28 non-null     object
 7   State     34 non-null     object
 8   PostC     29 non-null     object
 9   Email     34 non-null     object
 10  Phone     17 non-null     object
 11  Mobile    34 non-null     object
 12  Status    34 non-null     object
 13  Mailouts  8 non-null      object
 14  Comments  2 non-null      object
dtypes: float64(1), int64(1), object(13)
memory usage: 4.1+ KB

In [4]:
df.columns

Index(['Pers_num', 'Mem_Num', 'Title', 'Given', 'Surname', 'Street', 'Suburb',
       'State', 'PostC', 'Email', 'Phone', 'Mobile', 'Status', 'Mailouts',
       'Comments'],
      dtype='object')

In [5]:
df.drop(['Pers_num', 'Mem_Num', 'Title', 'Given', 'Surname', 'Street', 'Suburb',
       'State', 'PostC', 'Phone', 'Mobile', 'Status', 'Mailouts',
       'Comments'], axis=1, inplace=True)

In [6]:
df.head()

                            Email
0  barbarabrianarenson@gmail.com;
1         info@carlosarevalo.com;
2             dreabach@gmail.com;
3          dibailey@iinet.net.au;
4            atley07@bigpond.com;

In [7]:
df.to_csv('hurrah.csv',index=False)