In [1]:
import pandas as pd
from pathlib import Path
input_file = Path.cwd()/'receipts.csv'
df = pd.read_csv(input_file)

## Remove unwanted columns, add blank column and reorder

In [2]:
df.drop(['Given', 'Surname','Income','GST',], axis=1, inplace=True)

In [3]:
df["Cumulative"] = ""

In [4]:
df=df[['Number', 'Paid by', 'Date', 'Paid','Cumulative','Type', 'Payment_Type','Issued_By', 'Merchant Ref', 'Notes']]

In [5]:
df.head()

,Number,Paid by,Date,Paid,Cumulative,Type,Payment_Type,Issued_By,Merchant Ref,Notes
0,10667,Sri Hart,2022-5-9 14:54:27,-10.0,,Refund,cash,Didi Mudigdo,NaN,"Enrolment Fee adjustment for ""The Inquisitive ..."
1,10668,Bev Smith,2022-5-10 15:06:45,10.0,,Income,credit card,Bev Smith,CM794843544_Smith,"1 ticket for ""Floating on the Canals of Europ..."
2,10669,Bev Smith,2022-5-10 15:12:32,10.0,,Income,credit card,Bev Smith,CM533006953_Smith,"1 ticket for ""The Inquisitive Traveller - Eas..."
3,10670,Marion Sarcich,2022-5-11 10:50:04,15.0,,Income,credit card,Didi Mudigdo,CM121290048_Sarcich,Membership Payment for (1-May-2022 to 23-Jul-2...
4,10670,Marion Sarcich,2022-5-11 10:50:04,160.0,,Income,credit card,Didi Mudigdo,CM121290048_Sarcich,"Enrolment into ""French B2 Intermediate Ongoing..."

Add the column `Allocate` to contain MYOB allocation information

In [6]:
df['MYOB Narration']=""

Populate Allocate with the course code or membership type

In [7]:
def myobnarr(notes,cost):
    if "Membership" in notes:
        if cost == 15.0:
            return 'Term Membership'
        else:
            return 'Membership' 
    else:
        return notes[notes.find("(")+1:notes.find(")")]

In [8]:
df['MYOB Narration'] = df.apply(lambda x: myobnarr(x['Notes'], x['Paid']), axis=1)

In [9]:
# For the record, this is what we used to do without a lambda function and thus not dealing with membership

In [10]:
#df['Allocate'] = df['Notes'].str.extract(r'\((.*?)\)', expand=False)

Check results

In [11]:
df.head()

,Number,Paid by,Date,Paid,Cumulative,Type,Payment_Type,Issued_By,Merchant Ref,Notes,MYOB Narration
0,10667,Sri Hart,2022-5-9 14:54:27,-10.0,,Refund,cash,Didi Mudigdo,NaN,"Enrolment Fee adjustment for ""The Inquisitive ...","Enrolment Fee adjustment for ""The Inquisitive ..."
1,10668,Bev Smith,2022-5-10 15:06:45,10.0,,Income,credit card,Bev Smith,CM794843544_Smith,"1 ticket for ""Floating on the Canals of Europ...",T32
2,10669,Bev Smith,2022-5-10 15:12:32,10.0,,Income,credit card,Bev Smith,CM533006953_Smith,"1 ticket for ""The Inquisitive Traveller - Eas...",T31b
3,10670,Marion Sarcich,2022-5-11 10:50:04,15.0,,Income,credit card,Didi Mudigdo,CM121290048_Sarcich,Membership Payment for (1-May-2022 to 23-Jul-2...,Term Membership
4,10670,Marion Sarcich,2022-5-11 10:50:04,160.0,,Income,credit card,Didi Mudigdo,CM121290048_Sarcich,"Enrolment into ""French B2 Intermediate Ongoing...",L7

For the record, here is how to strip the digits, maybe in the future we can specify allocation

In [12]:
# df['Allocate'] = df['Allocate'].replace('(\d+)','',regex=True)

In [13]:
df

,Number,Paid by,Date,Paid,Cumulative,Type,Payment_Type,Issued_By,Merchant Ref,Notes,MYOB Narration
0,10667,Sri Hart,2022-5-9 14:54:27,-10.00,,Refund,cash,Didi Mudigdo,NaN,"Enrolment Fee adjustment for ""The Inquisitive ...","Enrolment Fee adjustment for ""The Inquisitive ..."
1,10668,Bev Smith,2022-5-10 15:06:45,10.00,,Income,credit card,Bev Smith,CM794843544_Smith,"1 ticket for ""Floating on the Canals of Europ...",T32
2,10669,Bev Smith,2022-5-10 15:12:32,10.00,,Income,credit card,Bev Smith,CM533006953_Smith,"1 ticket for ""The Inquisitive Traveller - Eas...",T31b
3,10670,Marion Sarcich,2022-5-11 10:50:04,15.00,,Income,credit card,Didi Mudigdo,CM121290048_Sarcich,Membership Payment for (1-May-2022 to 23-Jul-2...,Term Membership
4,10670,Marion Sarcich,2022-5-11 10:50:04,160.00,,Income,credit card,Didi Mudigdo,CM121290048_Sarcich,"Enrolment into ""French B2 Intermediate Ongoing...",L7
5,10671,Bell Mackness,2022-5-11 11:13:57,40.00,,Income,credit card,Elfie Collins,CM122913344_Mackness,Membership Payment 5-May-2023 to 5-May-2024,Membership
6,10672,Maxine O'connell,2022-5-11 13:56:16,160.00,,Income,credit card,Danielle Desvaux,CM730090586_O'connell,"Enrolment into ""Spanish B1 Intermediate - Wedn...",L32
7,10673,MMaxine O'connell,2022-5-11 14:05:37,-40.00,,Refund,EFT,Didi Mudigdo,NaN,Membership refund from terminated membership,Membership
8,10674,Maxine O'Connell,2022-5-11 14:06:24,40.00,,Income,cheque,Didi Mudigdo,NaN,Membership Payment 3-Feb-2022 to 3-Feb-2023,Membership
9,10675,MMaxine O'connell,2022-5-11 14:09:13,-160.00,,Refund,EFT,Didi Mudigdo,NaN,"Enrolment Fee adjustment for ""Spanish A2 Begin...","Enrolment Fee adjustment for ""Spanish A2 Begin..."
10,10676,Maxine O'Connell,2022-5-11 14:09:52,160.00,,Income,EFT,Didi Mudigdo,NaN,"Enrolment into ""Spanish A2 Beginners Ongoing(L...",L20
11,10677,MMaxine O'connell,2022-5-11 14:11:59,-160.00,,Refund,EFT,Didi Mudigdo,NaN,"Enrolment Fee adjustment for ""Spanish B1 Inter...","Enrolment Fee adjustment for ""Spanish B1 Inter..."
12,10678,Maxine O'Connell,2022-5-11 14:12:22,160.00,,Income,EFT,Didi Mudigdo,NaN,"Enrolment into ""Spanish B1 Intermediate - Wedn...",L32
13,10679,MMaxine O'connell,2022-5-11 14:13:09,-160.00,,Refund,EFT,Didi Mudigdo,NaN,"Enrolment Fee adjustment for ""Spanish A2 Begin...","Enrolment Fee adjustment for ""Spanish A2 Begin..."
14,10680,Maxine O'Connell,2022-5-11 14:13:33,160.00,,Income,EFT,Didi Mudigdo,NaN,"Enrolment into ""Spanish A2 Beginners Ongoing(L...",L20
15,10681,Mavis Drake,2022-5-12 10:09:45,-95.00,,Refund,credit card,Pete Chuang,CM676784908_Drake,"Enrolment Fee adjustment for ""Crochet Beginner...","Enrolment Fee adjustment for ""Crochet Beginner..."
16,10682,Brian Adams,2022-5-12 10:17:05,-140.00,,Refund,credit card,Pete Chuang,CM222688823_Adams,"Enrolment Fee adjustment for ""French For Trave...","Enrolment Fee adjustment for ""French For Trave..."
17,10683,Viviene Adams,2022-5-12 10:18:29,-140.00,,Refund,credit card,Pete Chuang,CM856897532_Adams,"Enrolment Fee adjustment for ""French For Trave...","Enrolment Fee adjustment for ""French For Trave..."
18,10684,Christine Reynolds,2022-5-12 10:20:04,-160.00,,Refund,credit card,Pete Chuang,CM806211582_Reynolds,"Enrolment Fee adjustment for ""Indonesian Inter...","Enrolment Fee adjustment for ""Indonesian Inter..."
19,10685,Ada Chinnery,2022-5-12 10:30:34,-175.00,,Refund,credit card,Pete Chuang,CM121217627_Chinnery,"Enrolment Fee adjustment for ""Drawing For Non-...","Enrolment Fee adjustment for ""Drawing For Non-..."
20,10686,Ada Chinnery,2022-5-12 10:32:15,-96.25,,Refund,credit card,Pete Chuang,CM238333389_Chinnery,"Enrolment Fee adjustment for ""Anglo-French His...","Enrolment Fee adjustment for ""Anglo-French His..."
21,10687,Lena Montgomery,2022-5-12 10:34:13,-120.00,,Refund,credit card,Pete Chuang,CM972377061_Montgomery,"Enrolment Fee adjustment for ""Mahjong - Beginn...","Enrolment Fee adjustment for ""Mahjong - Beginn..."
22,10688,Lena Montgomery,2022-5-12 10:34:43,-40.00,,Refund,credit card,Pete Chuang,NaN,Membership Fee adjustment refund,Membership
23,10689,Sandra Lettieri,2022-5-12 10:36:29,-110.00,,Refund,credit card,Pete Chuang,CM567410861_Lettieri,"Enrolment Fee adjustment for ""Light Samba"", st...","Enrolment Fee adjustment for ""Light Samba"", st..."
24,10690,Rob Fletcher,2022-5-12 10:42:53,20.00,,Income,credit card,Rob Fletcher,CM471925850_Fletcher,"1 ticket for ""Birds of the South-West (T9)"", ...",T9
25,10691,Rob Fletcher,2022-5-12 10:50:16,40.00,,Income,credit card,Rob Fletcher,CM865620572_Fletcher,Membership Payment (12-May-2022 to 12-May-2023...,Membership
26,10692,Gannaway Dixie,2022-5-12 10:50:17,-15.00,,Refund,cheque,Pete Chuang,NaN,Membership refund from terminated membership,Membership
27,10693,Dixie Gannaway,2022-5-12 10:51:15,15.00,,Income,cheque,Pete Chuang,NaN,Membership Payment 9-May-2022 to 23-Jul-2022,Term Membership
28,10694,Gannaway Dixie,2022-5-12 10:52:53,-110.00,,Refund,cheque,Pete Chuang,NaN,"Enrolment Fee adjustment for ""Light Samba"", st...","Enrolment Fee adjustment for ""Light Samba"", st..."
29,10695,Dixie Gannaway,2022-5-12 10:53:40,110.00,,Income,cheque,Pete Chuang,NaN,"Enrolment into ""Light Samba(HW16)"", starting 1...",HW16
30,10696,Dixie Gannaway,2022-5-12 10:54:16,-15.00,,Refund,credit card,Pete Chuang,NaN,Membership refund from terminated membership,Membership
31,10697,Dixie Gannaway,2022-5-12 10:54:42,-110.00,,Refund,credit card,Pete Chuang,CM174466723_Gannaway_,"Enrolment Fee adjustment for ""Light Samba"", st...","Enrolment Fee adjustment for ""Light Samba"", st..."
32,10698,Jo Rainsford-Taylor,2022-5-12 11:12:19,80.00,,Income,credit card,Pete Chuang,CM552681904_Rainsford-Taylor,"Enrolment into ""Italian Conversation Club(L17)...",L17
33,10699,Carol Simpkins,2022-5-12 12:14:38,-100.00,,Refund,credit card,Didi Mudigdo,CM832684383_Simpkins,"Enrolment Fee adjustment for ""Spanish A1 Begin...","Enrolment Fee adjustment for ""Spanish A1 Begin..."
34,10700,Bob Simpkins,2022-5-12 12:15:39,-100.00,,Refund,credit card,Didi Mudigdo,CM923263990_Simpkins,"Enrolment Fee adjustment for ""Spanish A1 Begin...","Enrolment Fee adjustment for ""Spanish A1 Begin..."
35,10701,Ada Chinnery,2022-5-12 12:28:34,0.00,,Income,cheque,Didi Mudigdo,NaN,Membership Fee adjustment,Membership
36,10702,Ada Chinnery,2022-5-12 12:31:06,-40.00,,Refund,credit card,Didi Mudigdo,NaN,Membership refund from terminated membership,Membership
37,10703,Thelma Blackford,2022-5-12 13:22:35,10.00,,Income,credit card,Janet Pearce,CM987982579_Blackford,"Ticket Purchase for ""The Inquisitive Traveller...",T31b
38,10704,Bridie O'Neill,2022-5-12 14:28:45,80.00,,Income,credit card,Janet Pearce,CM720838138_O'Neill,"Enrolment into ""Taming Your iGadget(CT2)"", sta...",CT2
39,10705,Louisa Browne,2022-5-12 15:06:39,10.00,,Income,cash,Janet Pearce,NaN,"Ticket Purchase for ""The Inquisitive Traveller...",T31d
40,10706,Christine Reynolds,2022-5-13 9:53:46,160.00,,Income,cheque,Pete Chuang,NaN,"Enrolment Fee adjustment for ""Indonesian Inter...",L12
41,10707,Christine King,2022-5-13 9:54:00,-160.00,,Refund,cheque,Pete Chuang,NaN,"Enrolment Fee adjustment for ""Indonesian Inter...",L12
42,10708,Ted Lincoln,2022-5-13 13:31:35,45.00,,Saved,credit account,Denise Bird,NaN,Enrolment Fee adjustment saved to credit accou...,CA22
43,10709,Ted Lincoln,2022-5-13 13:35:14,40.00,,Saved,credit account,Denise Bird,NaN,Volunteer Membership Credt,Membership
44,10710,Ted Lincoln,2022-5-13 13:36:26,40.00,,Income,credit account,Denise Bird,NaN,Membership Payment for (13-May-2022 to 13-May-...,Membership
45,10710,Ted Lincoln,2022-5-13 13:36:26,45.00,,Income,credit account,Denise Bird,NaN,"Enrolment into ""Mahjong - Beginners - Chinese(...",CA22
46,10710,Ted Lincoln,2022-5-13 13:36:26,-85.00,,Used,credit account,Denise Bird,NaN,"Enrolment into ""Mahjong - Beginners - Chinese(...",CA22
47,10711,Denise Bird,2022-5-13 13:48:07,30.00,,Saved,credit account,Denise Bird,NaN,Volunteer credit for Term 2 2020,Volunteer credit for Term 2 202
48,10712,Monica Piery,2022-5-13 16:30:22,15.00,,Income,credit card,Monica Piery,CM314371513_Piery,Membership Payment for (1-May-2022 to 23-Jul-2...,Term Membership
49,10712,Monica Piery,2022-5-13 16:30:22,160.00,,Income,credit card,Monica Piery,CM314371513_Piery,"Enrolment into ""French Beginners Conversation ...",L4

## Filter out non-credit card transactions
Now for the Boolean indexing. The rows we want to remove are 'Deposit'/'Saved' (from the Type column) and 'cash, 'EFT'/'cash' (from the Payment_Type) column. Constructing the Boolean index:

In [14]:
cash = df['Payment_Type']=='cash'
cheque = df['Payment_Type']=='cheque'
saved = df['Type']=='Saved'
eft = df['Payment_Type']=='EFT'
deposit = df['Type']=='Deposit'

And now apply and export:

In [15]:
df[~(cash|cheque|eft|saved|deposit)].to_csv('hurrah.csv',index=False)