In [1]:
import pandas as pd
from pathlib import Path
input_file = Path.cwd()/'receipts.csv'
df = pd.read_csv(input_file)

## Remove unwanted columns, add blank column and reorder

In [2]:
df.drop(['Given', 'Surname','Income','GST',], axis=1, inplace=True)

In [3]:
df["Cumulative"] = ""

In [4]:
df=df[['Number', 'Paid by', 'Date', 'Paid','Cumulative','Type', 'Payment_Type','Issued_By', 'Merchant Ref', 'Notes']]

In [5]:
df.head()

,Number,Paid by,Date,Paid,Cumulative,Type,Payment_Type,Issued_By,Merchant Ref,Notes
0,7829,Karina Sysko,2021-4-15 8:45:48,160.0,,Income,credit card,Pete Chuang,CM557819095_Sysko,Enrolment into Spanish B1 Intermediate - Thurs...
1,7830,Clive Ashford,2021-4-15 10:42:26,40.0,,Income,credit card,Pete Chuang,CM078481693_Ashford,Membership Payment for (15-Apr-2021 to 15-Apr-...
2,7830,Clive Ashford,2021-4-15 10:42:26,160.0,,Income,credit card,Pete Chuang,CM078481693_Ashford,Enrolment into Spanish A2 Beginners Ongoing(L2...
3,7831,Jeanette Ashford,2021-4-15 10:42:53,40.0,,Income,credit card,Pete Chuang,CM415048282_Ashford,Membership Payment for (15-Apr-2021 to 15-Apr-...
4,7831,Jeanette Ashford,2021-4-15 10:42:53,160.0,,Income,credit card,Pete Chuang,CM415048282_Ashford,Enrolment into Spanish A2 Beginners Ongoing(L2...

## Filter out non-credit card transactions
Now for the Boolean indexing. The rows we want to remove are 'Deposit'/'Saved' (from the Type column) and 'cash, 'EFT'/'cash' (from the Payment_Type) column. Constructing the Boolean index:

In [6]:
cash = df['Payment_Type']=='cash'
cheque = df['Payment_Type']=='cheque'
saved = df['Type']=='Saved'
eft = df['Payment_Type']=='EFT'
deposit = df['Type']=='Deposit'

And now apply and export:

In [7]:
df[~(cash|cheque|eft|saved|deposit)].to_csv('hurrah.csv',index=False)