In [1]:
import pandas as pd
import openpyxl
from pathlib import Path
input_file = Path.cwd()/'beconnected.xlsx'
df = pd.read_excel(input_file,engine='openpyxl')
df.head()

,Timestamp,Date of Session,First Name,Surname,Date of Birth,Suburb,Postcode,Gender,Country of Birth,Language Spoken at Home,Aboriginal/Torres Islander,Disability,On BeConnected Before?,Description of Activity
0,2021-07-20 09:57:38.204,2021-06-25,Lorna,Carroll,1940-11-18 00:00:00,Manning,6152.0,Female,Australia,English,No,No,No,"Discussed Uber, Spotify, how to find hidden ap..."
1,2021-07-20 10:07:35.365,2021-06-25,Pauline,Fraser,1942-04-30 00:00:00,South Perth,6151.0,Female,Northern Ireland,English,No,No,Don't Know,Learn how to expand & collapse full screen. Le...
2,2021-07-20 10:14:21.523,2021-06-22,Mary,Moffet,1943-03-10 00:00:00,Kensington,6151.0,Female,England,English,No,No,No,Needs help with fitness trackers Settings and ...
3,2021-07-20 10:19:53.246,2021-06-22,Chris,Holland,1953-12-25 00:00:00,Rivervale,6103.0,Male,England,English,No,No,No,\nNeed help with Airplay Settings installing a...
4,2021-07-20 10:26:23.509,2021-07-05,Sandy,Crompton,1949-06-30 00:00:00,Como,6152.0,Female,Australia,English,No,Yes,Yes,I Phone Update. Disable facetime. Bluetooth po...

In [2]:
dfg = df.groupby(['Surname','First Name']).count()

In [3]:
dfg.head()

,,Timestamp,Date of Session,Date of Birth,Suburb,Postcode,Gender,Country of Birth,Language Spoken at Home,Aboriginal/Torres Islander,Disability,On BeConnected Before?,Description of Activity
Surname,First Name,,,,,,,,,,,,
Allbrook,Maryon,3,3,2,2,2,1,2,2,2,2,2,2
Ambra,Marra,1,1,1,1,1,1,1,1,1,1,1,1
Anderson,Karen,2,2,2,2,2,2,2,2,2,2,2,2
Ang,Lin,2,2,2,1,2,2,1,2,2,2,2,2
Anstis,Lisa,5,5,4,4,4,4,4,4,4,4,4,5

In [4]:
dfg.to_csv('hurrah.csv')