In [1]:
import pandas as pd

In [2]:
dfcm = pd.read_csv('cm.csv')

In [3]:
dfci = pd.read_csv('captureit.csv')

In [4]:
dfcm

,Pers_num,Mem_Num,Title,Given,Surname,Street,Suburb,State,PostC,Email,Phone,Mobile,Status,Mailouts,Comments
0,3325,202107011,NaN,Caroline,Abbot,1-15 Forward,Manning,WA,6152.0,clucky666@gmail.com,NaN,0408903550.,Member <font class=fontColorHigh>19-Jul-2021 t...,NaN,NaN
1,3186,202103001,Mr,Brian,Adams,1/9 Ridge St,South perth,WA,6151.0,brianjohnadams50@gmail.com,0400039718,.,Member <font class=fontColorHigh>1-Jan-2022 to...,NaN,Self added by auto enrol
2,2738,201910006,Mrs,Maryon,Allbrook,48b Griffin Crescent,Manning,WA,6152.0,brookwood@westnet.com.au,NaN,0452445233.,Member <font class=fontColorHigh>20-Jan-2022 t...,NaN,Self added by auto enrol
3,3043,202010016,NaN,Maryon,Allbrook,48b Griffin Crescent,Manning,WA,6152.0,brookwood@westnet.com.au,0406550343,0406559342.,Member <font class=fontColorHigh>17-Oct-2021 t...,NaN,Self added by auto enrol
4,2747,201910015,NaN,Ian,Allison,2/34 Norton St,South Perth,WA,6151.0,alisonandian01@hotmail.com,NaN,0405327373.,Member <font class=fontColorHigh>12-Apr-2021 t...,"Email ,",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,1852,201707200,Ms,Lesley,Young,9/166 Mill Point Road,South Perth,WA,6151.0,lesleyyoung1@bigpond.com,NaN,0403351265.,Member <font class=fontColorHigh>19-Apr-2021 t...,"Email ,",NaN
533,3461,202202007,Mr,Adrian,Yurisich,5 Otter Court,Willetton,WA,6155.0,adrian.yurisich@gmail.com,0431657566,0431657566.,Member <font class=fontColorHigh>5-Feb-2022 to...,NaN,Self added by auto enrol
534,3462,202202008,Mrs,Virginia,Yurisich,5 Otter Court,Willetton,WA,6155.0,vjyuri@gmail.com,0434 113 790,0434 113 790 .,Member <font class=fontColorHigh>5-Feb-2022 to...,NaN,Self added by auto enrol
535,2092,201802019,Mrs,Keryn anne,Zeeb,15/63 Mill Point Rd,South perth,WA,6151.0,keryn.zeeb@gmail.com,0409089490,0409089490.,Member <font class=fontColorHigh>1-May-2021 to...,NaN,Self added by auto enrol
536,3375,202109015,NaN,Anne,Zevis,3/11 King Edward St,South Perth,WA,6151.0,zevises@hotmail.com,NaN,0423114929.,Member <font class=fontColorHigh>21-Sep-2021 t...,NaN,NaN

In [5]:
dfci

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,Learner Created Date,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,First Name,Last Name,...,Age,Gender,Country of birth,Language spoken at home,ATSI code,HasDisabilities,State,Suburb,Postcode,First Contact Date.1
0,8002168,2356815,0,0,2019-07-19,NaN,NaN,2019-07-19,John,Doe,...,67,N,NaN,NaN,NOTSTATED,NOT_STATED,Western Australia,South Terrace,6151,NaN
1,8002168,2399477,0,0,2019-11-12,2019-10-30,NaN,2019-10-30,Janet,Renner,...,63,F,England,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Mount Pleasant,6153,NaN
2,8002168,2401743,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Andrea,Henning,...,82,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
3,8002168,2401744,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Diane,Cooper,...,66,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Shelley,6148,NaN
4,8002168,2401745,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Patricia,Embry,...,78,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,8002168,2640373,0,0,2022-01-25,2021-11-04,NaN,2021-11-04,Alicia,Zablah,...,69,F,Spain,Spanish,NO,NO,Western Australia,Karawara,6152,NaN
294,8002168,2639555,0,0,2022-01-20,2021-07-09,NaN,2021-07-09,Marie,Ward,...,72,F,Serbia,Hungarian,NO,NO,Western Australia,South Perth,6151,NaN
295,8002168,2639568,0,0,2022-01-20,2021-11-02,NaN,2021-11-02,Buby,Sett,...,63,F,Sri Lanka,Tamil,NO,NO,Western Australia,Applecross,6153,NaN
296,8002168,2639017,0,0,2022-01-18,2021-07-22,NaN,2021-07-22,Lin,Ang,...,52,F,Malaysia,Malay,NO,NO,Western Australia,Redcliffe,6104,NaN
297,8002168,2639009,0,0,2022-01-18,2021-08-25,NaN,2021-08-25,Keely,Miho,...,46,F,Japan,Japanese,NO,NO,Western Australia,Victoria Park,6100,NaN

In [6]:
dfci = dfci.rename(columns={'First Name': 'Given','Last Name':'Surname'})

In [7]:
dfci

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,Learner Created Date,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,Given,Surname,...,Age,Gender,Country of birth,Language spoken at home,ATSI code,HasDisabilities,State,Suburb,Postcode,First Contact Date.1
0,8002168,2356815,0,0,2019-07-19,NaN,NaN,2019-07-19,John,Doe,...,67,N,NaN,NaN,NOTSTATED,NOT_STATED,Western Australia,South Terrace,6151,NaN
1,8002168,2399477,0,0,2019-11-12,2019-10-30,NaN,2019-10-30,Janet,Renner,...,63,F,England,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Mount Pleasant,6153,NaN
2,8002168,2401743,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Andrea,Henning,...,82,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
3,8002168,2401744,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Diane,Cooper,...,66,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Shelley,6148,NaN
4,8002168,2401745,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Patricia,Embry,...,78,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,8002168,2640373,0,0,2022-01-25,2021-11-04,NaN,2021-11-04,Alicia,Zablah,...,69,F,Spain,Spanish,NO,NO,Western Australia,Karawara,6152,NaN
294,8002168,2639555,0,0,2022-01-20,2021-07-09,NaN,2021-07-09,Marie,Ward,...,72,F,Serbia,Hungarian,NO,NO,Western Australia,South Perth,6151,NaN
295,8002168,2639568,0,0,2022-01-20,2021-11-02,NaN,2021-11-02,Buby,Sett,...,63,F,Sri Lanka,Tamil,NO,NO,Western Australia,Applecross,6153,NaN
296,8002168,2639017,0,0,2022-01-18,2021-07-22,NaN,2021-07-22,Lin,Ang,...,52,F,Malaysia,Malay,NO,NO,Western Australia,Redcliffe,6104,NaN
297,8002168,2639009,0,0,2022-01-18,2021-08-25,NaN,2021-08-25,Keely,Miho,...,46,F,Japan,Japanese,NO,NO,Western Australia,Victoria Park,6100,NaN

In [8]:
dfci.head()

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,Learner Created Date,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,Given,Surname,...,Age,Gender,Country of birth,Language spoken at home,ATSI code,HasDisabilities,State,Suburb,Postcode,First Contact Date.1
0,8002168,2356815,0,0,2019-07-19,NaN,NaN,2019-07-19,John,Doe,...,67,N,NaN,NaN,NOTSTATED,NOT_STATED,Western Australia,South Terrace,6151,NaN
1,8002168,2399477,0,0,2019-11-12,2019-10-30,NaN,2019-10-30,Janet,Renner,...,63,F,England,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Mount Pleasant,6153,NaN
2,8002168,2401743,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Andrea,Henning,...,82,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
3,8002168,2401744,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Diane,Cooper,...,66,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Shelley,6148,NaN
4,8002168,2401745,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Patricia,Embry,...,78,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN

In [9]:
dfcm.head()

,Pers_num,Mem_Num,Title,Given,Surname,Street,Suburb,State,PostC,Email,Phone,Mobile,Status,Mailouts,Comments
0,3325,202107011,NaN,Caroline,Abbot,1-15 Forward,Manning,WA,6152.0,clucky666@gmail.com,NaN,0408903550.,Member <font class=fontColorHigh>19-Jul-2021 t...,NaN,NaN
1,3186,202103001,Mr,Brian,Adams,1/9 Ridge St,South perth,WA,6151.0,brianjohnadams50@gmail.com,0400039718,.,Member <font class=fontColorHigh>1-Jan-2022 to...,NaN,Self added by auto enrol
2,2738,201910006,Mrs,Maryon,Allbrook,48b Griffin Crescent,Manning,WA,6152.0,brookwood@westnet.com.au,NaN,0452445233.,Member <font class=fontColorHigh>20-Jan-2022 t...,NaN,Self added by auto enrol
3,3043,202010016,NaN,Maryon,Allbrook,48b Griffin Crescent,Manning,WA,6152.0,brookwood@westnet.com.au,0406550343,0406559342.,Member <font class=fontColorHigh>17-Oct-2021 t...,NaN,Self added by auto enrol
4,2747,201910015,NaN,Ian,Allison,2/34 Norton St,South Perth,WA,6151.0,alisonandian01@hotmail.com,NaN,0405327373.,Member <font class=fontColorHigh>12-Apr-2021 t...,"Email ,",NaN

In [10]:
dfovrlp = pd.merge(dfci,dfcm,how='inner',on=['Given','Surname'])

In [11]:
dfovrlp

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,Learner Created Date,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,Given,Surname,...,Street,Suburb_y,State_y,PostC,Email,Phone,Mobile,Status,Mailouts,Comments
0,8002168,2401743,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Andrea,Henning,...,U9 6 Manning Terrace,South Perth,WA,6151.0,henning8@bigpond.net.au,0428 311 074,0428 311 074.,Member <font class=fontColorHigh>31-Dec-2017 t...,NaN,NaN
1,8002168,2401744,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Diane,Cooper,...,10A Mosaic St West,Shelley,WA,6148.0,dcooper@iinet.net.au,94570819,0408916512.,Member <font class=fontColorHigh>20-Mar-2021 t...,NaN,NaN
2,8002168,2437627,0,0,2020-02-25,NaN,NaN,2020-02-25,Diane,Cooper,...,10A Mosaic St West,Shelley,WA,6148.0,dcooper@iinet.net.au,94570819,0408916512.,Member <font class=fontColorHigh>20-Mar-2021 t...,NaN,NaN
3,8002168,2401745,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Patricia,Embry,...,PO Box 8269,South perth,WA,6951.0,pjembry@bigpond.net.au,94749237,0400218116.,Member <font class=fontColorHigh>13-Jan-2021 t...,NaN,NaN
4,8002168,2411282,0,0,2019-12-11,2019-12-10,NaN,2019-12-10,Anne,Evans,...,18 Waverley St,South Perth,WA,6151.0,ascevans@iinet.net.au,93672559,0409110816.,Member <font class=fontColorHigh>12-Jul-2021 t...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,8002168,2639600,0,0,2022-01-20,2021-10-20,NaN,2021-10-20,Meike,Schoolland,...,1/26 Park Street,Como,WA,6152.0,meike_s@iinet.net.au,0423528860,0423528860.,Member <font class=fontColorHigh>12-Jul-2021 t...,NaN,NaN
94,8002168,2638979,0,0,2022-01-18,2021-08-06,NaN,2021-08-06,Jayne,Dopp,...,29/7 Gardner st,Como,WA,6152.0,jaynesdopp@gmail.com,409296481,0409296481.,Member <font class=fontColorHigh>25-Mar-2021 t...,"Email ,",NaN
95,8002168,2639569,0,0,2022-01-20,2021-07-05,NaN,2021-07-05,Maryon,Allbrook,...,48b Griffin Crescent,Manning,WA,6152.0,brookwood@westnet.com.au,NaN,0452445233.,Member <font class=fontColorHigh>20-Jan-2022 t...,NaN,Self added by auto enrol
96,8002168,2639555,0,0,2022-01-20,2021-07-09,NaN,2021-07-09,Marie,Ward,...,5/17 Richardson St,South Perth,WA,6151.0,marie.ward6152@gmail.com,94742136,0438148664.,Member <font class=fontColorHigh>9-Jul-2021 to...,NaN,<font class=fontColorHot>Credit Expires <input...
97,8002168,2639017,0,0,2022-01-18,2021-07-22,NaN,2021-07-22,Lin,Ang,...,2 Graham Place,Redcliffe,WA,6104.0,ang_woi_lin@hotmail.com,0401644325,0401644325.,Member <font class=fontColorHigh>16-Jul-2021 t...,NaN,Self added by auto enrol