In [1]:
import pandas as pd
from pathlib import Path

In [2]:
input_file = Path.cwd()/'course_history.csv'

In [3]:
df = pd.read_csv(input_file)

In [4]:
df

,Name,Code,Facilitator,Session,Time,Weeks,Run Time,Min Quota,Quota,Students,Members,Non-members,Waiting,Operating Cost
0,Book Club,CA1,Diane Bailey,21-May-2021,9:30am,2,0:36,0.0,15,12,12,0,0,$0.00
1,Botanical Ink Drawing,AC56,Tania Daymond,3-May-2021,9:30am,8,16:00,6.0,12,10,10,0,0,$800.00
2,Craft and Coffee Club,CA18,Self Managed,13-May-2021,1:00pm,8,16:00,2.0,8,4,3,1,0,$0.00
3,Crochet Advanced,AC6,Susan Sands,5-May-2021,1:30pm,8,16:00,5.0,5,5,5,0,0,$320.00
4,Crochet Beginners,AC3,Susan Sands,3-May-2021,3:15pm,8,14:00,3.0,6,6,6,0,0,$474.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Watercolours Beginners and Ongoing,AC13,Verena Marmion,10-May-2021,12:00pm,8,16:00,5.0,10,10,10,0,0,$560.00
69,Writing your Memoirs Workshop Part 2,T22,NaN,21-Jun-2021,2:30pm,1,2:00,5.0,10,5,5,0,0,$100.00
70,Writing your Memoirs Workshop Part 2,T22,Helen Iles,28-Jun-2021,2:30pm,1,2:00,5.0,10,4,4,0,0,$100.00
71,Yoga for Everybody,HW14,Andi Bach,10-May-2021,5:00pm,8,8:00,5.0,6,6,5,1,0,$400.00
72,NaN,NaN,NaN,NaN,445,867:21,741,NaN,532,505,27,9,"$29,229.50",NaN

In [5]:
df.columns

Index(['Name', 'Code', 'Facilitator', 'Session', 'Time', 'Weeks', 'Run Time',
       'Min Quota', 'Quota', 'Students', 'Members', 'Non-members', 'Waiting',
       'Operating Cost'],
      dtype='object')

In [6]:
df.drop(['Facilitator', 'Session', 'Time', 'Weeks', 'Run Time',
       'Min Quota', 'Quota', 'Students', 'Members', 'Non-members', 'Waiting',
       'Operating Cost'], axis=1, inplace=True)

In [7]:
df

                                     Name  Code
0                              Book Club    CA1
1                   Botanical Ink Drawing  AC56
2                   Craft and Coffee Club  CA18
3                        Crochet Advanced   AC6
4                       Crochet Beginners   AC3
..                                    ...   ...
68     Watercolours Beginners and Ongoing  AC13
69  Writing your Memoirs Workshop Part 2    T22
70  Writing your Memoirs Workshop Part 2    T22
71                     Yoga for Everybody  HW14
72                                    NaN   NaN

[73 rows x 2 columns]

In [8]:
df.to_csv('hurrah.tab',index=False, sep='\t')

In [9]:
html = df.to_html(index=False)
text_file = open("index.html", "w")
text_file.write(html)
text_file.close()